@import "./mixin.scss";
@import "./variable.scss";
@import "./function.scss";
#shadow-area{
    position: fixed;
    left:0px;
    top:0px;
    width: 100%;
    height: 120vh;
    z-index: 997;
    background: rgba(0,0,0,0.3);
    will-change: opacity;
    opacity: 0;
}

#drag-target{
   position:fixed;
   top : 0;
   width: 10px;
   height: 100%;
   z-index: 998;
}

.tw-sideNav {
  position: fixed;
  width: 250px;
  left: 0;
  top: 0;
  margin: 0;
  will-change: transform;
  @include transform(translateX(-100%));
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  z-index: 999;
  // overflow: auto;
  backface-visibility: hidden;
  box-shadow: $sidenav-shadow;
    & .menu {
        cursor: pointer;
        padding: 0 1rem;
        color : inherit;
        height: $sidenav-col-height;
        line-height: $sidenav-col-height;
        display: block;
        font-weight: bold;
        @include transition(color 0.2s ease-in);
        text-decoration: none;
        &:hover{
          background: rgba(0,0,0,0.15);
        }
    }
    & #closeNav {
      left:0;
      position: absolute;
      width: 100%;
      text-align: center;
      bottom:($sidenav-closebtn-height + 34);
      height: $sidenav-closebtn-height;
      line-height: $sidenav-closebtn-height;
    }
    & .profile{
        font-size : 14px;
        position: relative;
        padding: 1rem 1rem .25rem ;
        margin-bottom: 5px;
        & .background{
          z-index: -1;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left:0;
          overflow: hidden;
        }
        & .avatar{
            & img {
              display: block;
              width: 60px;
              height: 60px;
              border-radius:$sidenav-avatar-radius;
            }
        }
        & .name{
            padding: 0 .1rem .5rem .1em;
            display: block;
            margin-top: 1em;
        }
        & .title{
            display: block;
            font-size: .9em;
            padding-bottom: 1em;
        }


    }
}









@media only screen and (min-width : 1366px) {
  #drag-target{
    width: 0px !important;
  }
  .tw-sideNav{
    &.fixed{
        @include transform("translateX(0%);")
        box-shadow: $sidenav-fixed-shadow;
    }
  }
}
@media only screen and (max-width : 1366px) {
  .tw-sideNav{
    &.fixed{
        @include transform(translateX(-100%));
        box-shadow: $sidenav-shadow;
    }
  }
}
